.contextualMenu{
  z-index: 9999;
}

.logo{
  z-index: 9999;
}

#zz
.logo{
  z-index: 9999;
    position: fixed;
    left: 40px;
    top: 40px;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
  }
  
  .menu{
    z-index: 9999;
    position: fixed;
    left: 40px;
    bottom: 40px;
  }
  
  .menuList{
    z-index: 9999;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    gap: 10px;
  }


  .middleNav{
    color : black;
    background: #F9F5ED;
    border-radius: 60px;
    font-size: 12px;
    position: fixed;
    bottom : 3px;
    width: 12%;
    padding: 18px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border: dashed 1px;
  }

  .links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase ;
  }


  @media screen and (max-width : 900px) {
    .menuList{
      display: none;
    }
    /* .projectsList{
      height: 70vh !important;
    } */

    .middleNav{
      width: 50%;
    }
    .loaderMobile{
      font-family: "Bold Font" !important;
      font-size: 3em !important;
    }
  }

  @media screen and (max-width : 1200px) {
    /* .projectsList{
      height: 80vh !important;
    } */
  }


  .projectsList {
    display: flex;
    flex-direction: column;

  }
  
  .project {
    position: relative;
    padding: 10px;
  }
  
  .project img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .project:hover img {
    opacity: 1;
  }
  .project:hover h2{
    color: rgb(255, 255, 255);
    z-index: 999;
  }
  .project video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .project:hover video {
    opacity: 1;
  }
  .project:hover h2{
    color: rgb(255, 255, 255);
    z-index: 999;
  }
  
  .project:hover span{
    color: rgb(255, 255, 255);
    z-index: 999;
  }


  .listProjectTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
    vertical-align: middle;
    align-items: center;
    font-family: "Thunder";
    text-transform: uppercase;
    font-size: 6vw;
    /* color: var(--text-color); */
  }

  .project {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  



  .marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 100px;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 75px;
    font-family: "Thunder bold";
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 10px;
  }
  
  .track {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 100s linear infinite;
  }
  
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
  
  .marquee:hover .track {
    animation-play-state: paused;
  }




  .active{
    /* background-color: red;
    border-radius: 10px; */
    color: var(--text-color);
  }