
#cursor{
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid #000;
    box-sizing: border-box;
    transition: 0.1s;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000;
   

}

.waiter{


    font-size: 10vh;
    align-items: center;
    text-align: center;
    justify-content: center;
}